* {
    margin: 0%;
    padding: 0px;

}

body {
    background-color: #790054;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Input-info {
    position: relative;
    height: 400px;
    width: 380px;
    background-color: #ECC3D5;
    border-radius: 10px;
}

#Input-info img {
    margin: 0px 50px;
}

#Input-info input {
    height: 30px;
    width: 60%;
    margin-bottom: 15px;
    margin-left: 50px;
    border-radius: 25px;
    border: 4px solid black;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-email {
    background-image: url(./ic_baseline-email.png);
    background-repeat: no-repeat;
    background-size: 28px;
    padding-left: 40px;
}

.input-pass {
    background-image: url(./mdi_password.png);
    background-repeat: no-repeat;
    background-size: 28px;
    padding-left: 40px;
}

.btn {
    background-color: #F16791;
    color: white;
    height: 30px;
    width: 60%;
    margin-left: 75px;
    border-radius: 25px;
    border: 4px solid black;
    font-weight: 800;
}

.btn a {
    color: white;
    text-decoration: none;
}

.btn :hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

#Input-info h3 {
    margin: 5px;
    text-align: center;
}

#P2 {
    font-size: 18px;
    margin-left: 50px;
    color: red;
    font-weight: 600;
    border-color: red;
}

#P3 {
    font-size: 18px;
    margin-left: 50px;
    color: red;
    font-weight: 600;
    border-color: red;
}
