@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    /* background:linear-gradient(135deg,#667eea,#764ba2); */
    background-color: #F6E4F0;
}

.auth-container{
    background-color: #ECC3D5;
    width:380px;
    padding:35px;
    border-radius:12px;
    box-shadow:0 20px 40px rgba(0,0,0,0.15);
}

.auth-container h2{
    text-align:center;
    margin-bottom:25px;
    color:#333;
}

.input-group{
    margin-bottom:18px;
}

.input-group label{
    font-size:14px;
    color:#555;
}

.input-group input{
    width:100%;
    padding:12px;
    margin-top:6px;
    border-radius:8px;
    border:1px solid #ddd;
    outline:none;
    transition:0.3s;
}

.input-group input:focus{
    border-color:#667eea;
}

.btn{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#667eea;
    color:#fff;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.btn:hover{
    background:#5563d6;
}

.switch{
    text-align:center;
    margin-top:15px;
    font-size:14px;
}

.switch a{
    color:#667eea;
    text-decoration:none;
    font-weight:500;
}
